#* linguist-vendored
*.ipynb linguist-vendored=true
*.txt linguist-vendored=true
*.md linguist-vendored=true
*.asc linguist-vendored=true
S4-ELE/Vuvuzela/vuvuzela_RLC.asc linguist-vendored=true
GNUmakefile linguist-vendored=true
